/*Entête*/
.enteteFondRectangle {
  background-color: $blancCasse;
  background-image: url("../img/texture/memphis-mini.webp");
  background-size: 75%;
  background-blend-mode: multiply;
  display: block;
  width: 50%;
  margin: 0 auto auto 0;
  height: 90vw;
  border-bottom: $gris solid 0.2rem;
  border-right: $gris solid 0.2rem;
  border-bottom-right-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
@media (min-width: 800px) {
  .enteteFondRectangle {
    display: none;
    visibility: hidden;
  }
}
.enteteFondRond {
  background-color: $orange;
  background-image: url("../img/texture/memphis-mini.webp");
  background-blend-mode: multiply;
  display: block;
  width: 95vw;
  height: 95vw;
  position: absolute;
  top: -10%;
  left: -55%;
  z-index: 1;
  border-radius: 100%;
}
@media (min-width: 800px) {
  .enteteFondRond {
    max-width: 1200px;
    width: 100%;
    padding-bottom: 400px;
    margin: 0 auto -400px auto;
    z-index: 0;
    background-image: url("../img/cercleMenu.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    position: static;
    border-radius: 0;
    background-color: transparent;
    height: auto;
  }
}
.titre {
  position: relative;
  z-index: 2;
  font-family: "lt_binary_neue_roundregular", sans-serif;
  font-size: 4vw;
  width: 40vw;
  margin-left: 1rem;
  top: 20vw;
}
@media (min-width: 800px) {
  .titre {
    max-width: 100rem;
    font-size: 6rem;
    text-align: center;
    margin: 2rem auto 0 auto;
    position: static;
    width: auto;
  }
}
.sous-titre {
  position: relative;
  z-index: 2;
  font-family: "caviar_dreamsregular",sans-serif;
  font-size: 3vw;
  top: 20vw;
  margin-left: 1rem;
  width: fit-content;
}
@media (min-width: 800px) {
  .sous-titre {
    font-size: 4rem;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
}
.menu {
  position: relative;
  z-index: 2;
  width: fit-content;

  &__liste {
    width: fit-content;
    padding: 0;
    position: relative;
    left: 46vw;
    top: -27vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vw;

    &__item {
      width: fit-content;
      list-style: none;
      margin-bottom: 3vw;

      &__lien {
        width: fit-content;
        text-decoration: none;
        color: $noir;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__rond {
          background-color: $blancCasse;
          background-image: url("../img/sprite.svg");
          background-repeat: no-repeat;
          background-size: 661px;
          border-radius: 100%;
          display: inline-block;
          min-width: 4rem;
          width: 4rem;
          aspect-ratio: 1;
          text-align: center;
          position: relative;
          margin: auto 1rem auto auto;

          &.actif {
            background-position-y: -40.3px;
          }
        }
        &__texte {
          margin: 0;
          display: block;
        }

        &:active,
        &:hover {

          #diplomes,
          #projets,
          #programme,
          #stages,
          #joindre {
            background-position-y: -40.3px;
          }
        }
      }
    }
  }
}
#diplomes {
  background-position-x: -122px;
}
#projets {
  background-position-x: -164px;
}
#programme {
  background-position-x: -324px;
}
#stages {
  background-position-x: -364px;
}
#joindre {
  background-position-x: -405px;
}
@media (min-width: 500px) {
  .menu {

    &__liste {

      &__item {

        &__lien {

          &__rond {
            background-size: 135vw;
            min-width: 4rem;
            width: 8vw;

            &.actif {
              background-position-y: -8.5vw;
            }
          }
          &__texte {
            margin: 0;
            display: block;
          }

          &:active,
          &:hover {

            #diplomes,
            #projets,
            #programme,
            #stages,
            #joindre {
              background-position-y: -8.5vw;
            }
          }
        }
      }
    }
  }
  #diplomes {
    background-position-x: -25vw;
  }
  #projets {
    background-position-x: -33.4vw;
  }
  #programme {
    background-position-x: -66vw;
  }
  #stages {
    background-position-x: -74.5vw;
  }
  #joindre {
    background-position-x: -82.5vw;
  }
}
@media (min-width: 800px) {
  .menu {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 9rem auto;
    position: relative;
    top: -2rem;

    &__liste {
      display: flex;
      padding: 0 0 0 1rem;
      position: static;
      align-items: end;
      flex-direction: row;
      justify-content: space-between;
      height: fit-content;
      width: auto;

      li:nth-child(1) ,
      li:nth-child(5)  {
        padding-bottom: 18vw;
      }
      li:nth-child(2) ,
      li:nth-child(4)  {
        padding-bottom: 5vw;
      }
      li:nth-child(3)  {
        padding-bottom: 2vw;
      }

      &__item {
        width: fit-content;
        margin-bottom: 0;
        align-self: end;

        &__lien {
          flex-direction: column;

          &__rond {
            padding: 2.7rem;
            width: 5rem;
            height: 5rem;
            top: 0;
            background-size: 1700px;
            background-repeat: no-repeat;
            background-position-y: 2px;

            &.actif {
              //background-color: $orange;
              background-position-y: -102px;
            }
            &__icone {
              width: 5rem;
              height: 5rem;
              background-size: 745px;
              position: static;

            }
          }
          &__texte {

          }

          &:active,
          &:hover {

            .menu__liste__item__lien__rond {

            }
            #diplomes,
            #projets,
            #programme,
            #stages,
            #joindre {
              background-position-y: -102px;
            }
          }
        }
      }
    }
  }

  #diplomes {
    background-position-x: -311px;
  }
  #projets {
    background-position-x: -417px;
  }
  #programme {
    background-position-x: -831.5px;
  }
  #stages {
    background-position-x: -935px;
  }
  #joindre {
    background-position-x: -1039px;
  }
}
@media (min-width: 900px) {
  .menu {
    top: -6rem;

    li:nth-child(1) ,
    li:nth-child(5)  {
      padding-bottom: 19vw;
    }
    li:nth-child(3)  {
      padding-bottom: 1vw;
    }
  }
}
@media (min-width: 1050px) {
  .menu {
    top: -6rem;

    &__liste {

      li:nth-child(1) ,
      li:nth-child(5)  {
        padding-bottom: 20rem;
      }
      li:nth-child(2) ,
      li:nth-child(4)  {
        padding-bottom: 5.5rem;
      }
      li:nth-child(3)  {
        padding-bottom: 1.5rem;
      }
    }
  }
}