/*Entête*/
.enteteFondRectangle {
  background-color: $blancCasse;
  background-image: url("../img/texture/memphis-mini.webp");
  background-size: 75%;
  background-blend-mode: multiply;
  display: block;
  width: 50%;
  margin: 0 auto auto 0;
  height: 90vw;
  border-bottom: $gris solid 0.2rem;
  border-right: $gris solid 0.2rem;
  border-bottom-right-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
@media (min-width: 800px) {
  .enteteFondRectangle {
    display: none;
    visibility: hidden;
  }
}
.enteteFondRond {
  background-color: $orange;
  background-image: url("../img/texture/memphis-mini.webp");
  background-blend-mode: multiply;
  display: block;
  width: 95vw;
  height: 95vw;
  position: absolute;
  top: -10%;
  left: -55%;
  z-index: 1;
  border-radius: 100%;
}
@media (min-width: 800px) {
  .enteteFondRond {
    max-width: 1200px;
    width: 100%;
    padding-bottom: 400px;
    margin: 0 auto -400px auto;
    z-index: 0;
    background-image: url("../img/cercleMenu.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    position: static;
    border-radius: 0;
    background-color: transparent;
    height: auto;
  }
}
.titre {
  position: relative;
  z-index: 2;
  font-family: "lt_binary_neue_roundregular", sans-serif;
  font-size: 4vw;
  width: 40vw;
  margin-left: 1rem;
  top: 20vw;
}
@media (min-width: 800px) {
  .titre {
    max-width: 100rem;
    font-size: 6rem;
    text-align: center;
    margin: 2rem auto 0 auto;
    position: static;
    width: auto;
  }
}
.sous-titre {
  position: relative;
  z-index: 2;
  font-family: "caviar_dreamsregular",sans-serif;
  font-size: 3vw;
  top: 20vw;
  margin-left: 1rem;
}
@media (min-width: 800px) {
  .sous-titre {
    font-size: 4rem;
    text-align: center;
    position: static;
    margin: 0;
  }
}
.menu {
  position: relative;
  z-index: 2;
  width: fit-content;

  &__liste {
    width: fit-content;
    padding: 0;
    position: relative;
    left: 46vw;
    top: -27vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vw;

    &__item {
      width: fit-content;
      list-style: none;
      margin-bottom: 3vw;

      &__lien {
        width: fit-content;
        text-decoration: none;
        color: $noir;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__rond {
          background-color: $gris;
          border-radius: 100%;
          display: inline-block;
          min-width: 4rem;
          width: 8vw;
          aspect-ratio: 1;
          text-align: center;
          position: relative;
          margin: auto 1rem auto auto;

          &.actif {
            background-color: $orange;
            &__icone,
            #diplomes,
            #projets,
            #programme,
            #stages,
            #joindre {
              background-position-y: -20px;
            }
          }
          &__icone {
            background-image: url("../img/sprite.png");
            display: inline-block;
            background-size: 287px;
            width: 20px;
            height: 20px;
            margin: auto;
            position: relative;
            top: 2.5vw;
          }
        }
        &__texte {
          margin: 0;
          display: block;
        }

        &:active,
        &:hover {

          .menu__liste__item__lien__rond {
            background-color: $orange;
          }
          #diplomes,
          #projets,
          #programme,
          #stages,
          #joindre {
            background-position-y: -20px;
          }
        }
      }
    }
  }
}
#diplomes {
  background-position-x: -60px;
}
#projets {
  background-position-x: -80px;
}
#programme {
  background-position-x: -120px;
}
#stages {
  background-position-x: -140px;
}
#joindre {
  background-position-x: -160px;
}
@media (min-width: 800px) {
  .menu {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 9rem auto;
    position: relative;
    top: -11rem;

    &__liste {
      display: flex;
      padding: 0 0 0 1rem;
      position: static;
      align-items: end;
      flex-direction: row;
      justify-content: space-between;
      height: fit-content;

      li:nth-child(1) a,
      li:nth-child(5) a {
        padding-bottom: 177%;
      }
      li:nth-child(2) a,
      li:nth-child(4) a {
        padding-bottom: 45%;
      }

      &__item {
        width: fit-content;
        margin-bottom: 0;
        align-self: end;

        &__lien {
          flex-direction: column;

          &__rond {
            padding: 2.7rem;
            width: 5rem;
            height: 5rem;
            top: 0;

            &.actif {
              background-color: $orange;
              &__icone,
              #diplomes,
              #projets,
              #programme,
              #stages,
              #joindre {
                background-position-y: -52px;
              }
            }
            &__icone {
              width: 5rem;
              height: 5rem;
              background-size: 745px;
              position: static;
              background-position-y: 0;
            }
          }
          &__texte {

          }

          &:active,
          &:hover {

            .menu__liste__item__lien__rond {

            }
            #diplomes,
            #projets,
            #programme,
            #stages,
            #joindre {
              background-position-y: -52px;
            }
          }
        }
      }
    }
  }

  #diplomes {
    background-position-x: -156px;
  }
  #projets {
    background-position-x: -208px;
  }
  #programme {
    background-position-x: -312.5px;
  }
  #stages {
    background-position-x: -364px;
  }
  #joindre {
    background-position-x: -416px;
  }

}