/* Fiche d'un diplômé */

.fondFicheDiplome {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  margin-bottom: 10rem;
  padding: 5rem 0;
}
.ficheDiplome {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;

  &__img {
    display: block;
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 20rem;
    border: $blancCasse solid 0.4rem;
    outline: $vert solid 0.4rem;
    margin: auto;
  }
  &__sectionContact {
    max-width: 25rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    &__h2 {
      font-size: 2.8rem;
      text-align: center;
      flex-basis: 100%;
    }
    &__lien {
      &__icone {
        display: block;
        background-image: url("../img/sprite.svg");
        height: 5rem;
        width: 5rem;

        &#contactLinkedin {
          background-position-x: -104px;
          background-position-y: 0;
        }
        &#contactCourriel {
          background-position-x: -313px;
          background-position-y: 0;
        }
        &#contactSiteWeb {
          background-position-x: -365.25px;
          background-position-y: 0;
        }
      }

      &:hover,
      &:active {

        .ficheDiplome__sectionContact__lien__icone {

          &#contactLinkedin,
          &#contactCourriel,
          &#contactSiteWeb {
            background-position-y: -52px;
          }
        }
      }
    }
  }
  &__texte {
    display: block;
    margin: auto;
    width: 70%;
  }
}
@media (min-width: 800px) {
  .ficheDiplome {
    width: 90%;
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;

    &__img {

    }
    &__sectionContact {

      &__h2 {

      }
      &__lien {
        &__icone {

        }
      }
    }
    &__texte {
      display: block;
      margin-right: 0;
      margin-left: 3rem;
      width: 70%;
    }
  }
}

.niveauInteret {
  width: 80%;
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  &__h2 {
    text-align: center;
    flex-basis: 100%;
    width: 100%;
  }
  &__section {
    width: 70%;
    max-width: 20rem;
    aspect-ratio: 1;
    border-radius: 2rem;
    background-color: $gris;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1.5rem;

    &__h3 {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }
    &__icone {
      background-image: url("../img/sprite.png");
      display: inline-block;
      width: 5rem;
      height: 5rem;
      margin: auto;
    }
    &__note {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }
  }
}
@media (min-width: 800px) {
  .niveauInteret {
    width: 90%;
    max-width: 1000px;

    &__h2 {

    }
    &__section {
      width: 20%;

      &__h3 {
        font-size: 2.2rem;
      }
      &__icone {

      }
      &__note {

      }
    }
  }
}
@media (min-width: 1000px) {
  .niveauInteret {

    &__h2 {

    }
    &__section {

      &__h3 {
        font-size: 2.5rem;
      }
      &__icone {

      }
      &__note {

      }
    }
  }
}

#iconeConception {
  background-position: -520px 0;
}
#iconeMedias {
  background-position: -572px 0;
}
#iconeIntegration {
  background-position: -624px 0;
}
#iconeProgrammation {
  background-position: -676px 0;
}

.interet1,
.interet2 {
  background-color: $gris;
}
.interet3,
.interet4 {
  background-color: #929791;
}
.interet5,
.interet6 {
  background-color: #A7B0A5;
}
.interet7,
.interet8 {
  background-color: #BBCAB8;
}
.interet9,
.interet10 {
  background-color: $vert;
}

.fondProjetsDiplome {
  background-color: $blancCasse;
  border: $vert solid 0.4rem;
  border-radius: 300rem;
  margin: 10rem auto;
  width: 90%;
  padding: 10rem 0;
}
.projetsDiplome {
  width: 90%;
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &__h2 {
    margin: 0 0 3rem 0;
    text-align: center;
    width: 100%;
    flex-basis: 100%;
  }
  &__unProjet {
    color: $noir;
    margin: 1rem;

    &__img {
      width: 85%;
      display: block;
      margin: auto;
      aspect-ratio: 16/9;
      border-radius: 1rem;
      border: $blancCasse solid 0.4rem;
      outline: $vert solid 0.4rem;
    }
    &__h3 {
      max-width: 20rem;
      margin: auto auto 0 auto;
      text-align: center;
    }
    &:hover,
    &:active {
      color: $rose;

      .projetsDiplome__unProjet__img {
        border: $vert solid 0.4rem;
      }
    }
  }
}
@media (min-width: 800px) {
  .fondProjetsDiplome {
    padding: 5rem 10rem;
    width: 75%;
    max-width: 1300px;
  }
  .projetsDiplome {
    max-width: 1000px;

    &__h2 {

    }
    &__unProjet {

      &__img {
        width: 30rem;
      }
      &__h3 {
        max-width: 30rem;
        width: 30rem;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}