/*Le programme*/

.fondBoursesPerspective {
  background-color: $blancCasse;
  border: $vert solid 0.4rem;
  border-radius: 30rem;
  padding: 5rem 1rem;
  margin: 10rem auto;
  width: 90%;
  max-width: 600px;
}
.boursesPerspective {
  width: 80%;
  max-width: 550px;
  margin: auto;
  text-align: center;

  &__h2 {
    margin-top: 0;
  }
  &__texte {
    padding-bottom: 3rem;

    &__lien {

    }
  }
  & p {
    margin-bottom: 0;
  }
}
@media (min-width: 800px) {
  .fondBoursesPerspective {
    padding: 5rem 10rem;
    width: 75%;
    max-width: 1300px;
  }
  .boursesPerspective {
    width: 90%;

    &__h2 {

    }
    &__texte {
      padding-bottom: 3rem;

      &__lien {

      }
    }
  }
}

.lesAxesDuProgramme {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.pieChart {
  height: 50rem;
  width: 50rem;
  position: relative;
  //margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 250, 241, 0.4);
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  rotate: 12deg;
}
.pieSlice {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;

  & span {
    display: inline-block;
    rotate: -12deg;
    position: relative;
    text-align: center;
    font-family: "caviar_dreamsregular", sans-serif;
    font-size: 2.5rem;
  }
}
.pieSlice.pie1 {

  &.outside {
    top: -12px;
    left: 12px;
  }
  & span:first-child {
    top: 19%;
    right: -66%;
  }
  & span:nth-child(2) {
    top: 25%;
    right: -48%;
  }
}
.pieSlice.pie2 {

  &.outside {
    top: 12px;
    left: 12px;
  }
  & span:first-child {
    top: 61%;
    right: -66%;
  }
  & span:nth-child(2) {
    top: 68%;
    right: -49%;
  }
}
.pieSlice.pie3 {

  &.outside {
    top: 15px;
    left: -12px;
  }
  & span:first-child {
    top: 60%;
    right: -22%;
  }
  & span:nth-child(2) {
    top: 66%;
    right: -1%;
  }
}
.pieSlice.pie4 {
  color: $blancCasse;

  &.outside {
    top: -10px;
    left: -18px;
  }
  & span:first-child {
    top: 28%;
    right: -14%;
  }
  & span:nth-child(2) {
    top: 35%;
    right: -1%;
  }
}
.pieSlice.pie5 {

  &.outside {
    top: -24px;
    left: -7px;
  }
  & span:first-child {
    top: 8%;
    right: -33%;
  }
  & span:nth-child(2) {
    top: 14%;
    right: -22%;
  }
}
.lesBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0;
}
.btnAxes {
  font-family: "caviar_dreamsregular", sans-serif;
  font-size: 2.2rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;

  &#btnAxe4 {
    color: $blancCasse;
  }
  &:hover,
  &:active,
  &:focus,
  &.click {
    box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  }

}

.fondInfoPrgramme {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  margin-top: -20rem;
}
.infoProgramme {
  width: 85%;
  max-width: 600px;
  margin:  5rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14rem 0 3rem 0;

  &.nonSelectionne {
    display: none;
    visibility: hidden;
  }
  &__titreExplication {
    flex-basis: 68%;
  }
  &__listeExemples {
    margin-top: 7rem;
    flex-basis: 30%;
  }
}
@media (min-width: 800px) {
  .infoProgramme {
    width: 80%;
    max-width: 1000px;
    flex-direction: row;

    &__titreExplication {

    }
    &__listeExemples {

    }
  }
}

.infoSuppProgramme {
  width: 80%;
  max-width: 1000px;
  margin: 10rem auto 10rem auto;

  &__h2 {
    text-align: center;

  }
  &__boutons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;

    &__btnSiteCegep {
      position: relative;
      font-size: 1.4rem;
      z-index: 1;
    }
    &__ou {
      background-color: $vert;
      display: block;
      aspect-ratio: 1;
      border-radius: 20rem;
      position: relative;
      top: -3rem;
      z-index: 0;
      width: 20rem;
      height: 20rem;

      &__texte {
        display: block;
        text-align: center;
        font-size: 4.5rem;
        font-family: "caviar_dreamsregular", sans-serif;
        font-weight: bold;
        position: relative;
        bottom: -35%;
      }
    }
    &__btnTelechargerGrille {
      position: relative;
      top: -6rem;
      z-index: 1;
    }
  }
}
@media (min-width: 800px) {
  .infoSuppProgramme {

    &__h2 {

    }
    &__boutons {

      &__btnSiteCegep {
        font-size: 1.6rem;
      }
      &__ou {

        &__texte {

        }
      }
      &__btnTelechargerGrille {

      }
    }
  }
}
@media (min-width: 950px) {
  .infoSuppProgramme {
    width: 90%;
    max-width: 1000px;

    &__h2 {

    }
    &__boutons {
      flex-direction: row;

      &__btnSiteCegep {
        position: static;
        font-size: 1.8rem;
      }
      &__ou {
        width: 12rem;
        height: 12rem;
        border-radius: 6rem;
        top: 0;

        &__texte {
          bottom: -25%;
        }
      }
      &__btnTelechargerGrille {
        position: static;
      }
    }
  }
}

.fondDemandeAdmission {
  background-color: $orange;
  background-image: url("../img/texture/subtle_zebra_3d.png");
  background-blend-mode: multiply;
  width: 95%;
  max-width: 1440px;
  margin: auto;
  padding: 3rem 0;
  border-radius: 2rem;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
}
.demandeAdmission {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__h2 {
    text-align: center;
    margin-top: 0;
    width: 100%;
  }
  &__sectionGauche {
    padding: 1rem 0 3rem 0;
    width: 80%;

    & p:first-child {

    }
    & p:nth-child(2) {
      font-family: "caviar_dreamsregular", sans-serif;
      margin: 4rem auto;
      font-size: 2.5rem;
    }
    & a {

    }
  }
  &__sectionDroite {


    &__h3 {
      text-align: center;
    }
    &__bulleDates {
      aspect-ratio: 1;
      width: 27.5rem;
      background-color: $blancCasse;
      border: $vert solid 0.4rem;
      border-radius: 50%;

      &__h4 {
        text-align: center;
        max-width: 60%;
        margin: 2rem auto;
      }
      &__liste {
        padding: 0;
        display: block;
        width: fit-content;
        margin: auto;

        &__item {
          list-style: none;
          margin-bottom: 0.7rem;

          & span:first-child {
            display: inline-block;
            width: 8rem;
          }
          &__icone {
            display: inline-block;
            width: 1.8rem;
            height: 1.6rem;
            background-image: url("../img/sprite.svg");
            background-position: -830px -43px;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
@media (min-width: 850px) {
  .demandeAdmission {
    width: 90%;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__h2 {

    }
    &__sectionGauche {
      padding: 5rem 0;
      width: 60%;

      & p:first-child {

      }
      & p:nth-child(2) {

      }
      & a {

      }
    }
    &__sectionDroite {

      &__h3 {
        text-align: left;
      }
      &__bulleDates {

        &__h4 {

        }
        &__liste {

          &__item {

            & span:first-child {

            }
            &__icone {

            }
          }
        }
      }
    }

  }
}

.etudiantInternational {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;

  &__h2 {
    width: 100%;
    text-align: center;
  }
  & p:nth-child(2) {
    width: 100%;
  }
  & :nth-child(3) {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .etudiantInternational {
    width: 90%;
    max-width: 85rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem auto;

    &__h2 {
      width: 100%;
      text-align: center;
    }
    & p:nth-child(2) {
      width: 47%;
    }
    & :nth-child(3) {
      width: 47%;
      text-align: right;
    }
  }
}

.fondEtudiantDunJour {
  background-color: $blancCasse;
  border: $vert solid 0.4rem;
  border-radius: 30rem;
  margin: 5rem auto;
  width: 90%;
  max-width: 600px;
}
.etudiantDunJour {
  width: 80%;
  max-width: 550px;
  margin: auto;
  padding: 10rem 2rem;

  &__h2 {
    text-align: center;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__texte {
      display: block;
      flex-basis: 50%;

    }
    &__contact {
      display: block;
      flex-basis: 45%;

      &__benoitF {

      }
    }
  }
}
@media (min-width: 800px) {
  .fondEtudiantDunJour {
    padding: 5rem 10rem;
    width: 75%;
    margin: 10rem auto;
    max-width: 1300px;
  }
  .etudiantDunJour {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 0;

    &__h2 {

    }
    &__infos {
      flex-direction: row;

      &__texte {

      }
      &__contact {

        &__benoitF {

        }
      }
    }
  }
}

.fondApresTim {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  padding: 3rem 0;
  margin: 5rem auto;
}
.apresTim {
  width: 80%;
  margin: auto;

  &__h2 {
    text-align: center;
  }
  &__section {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    background-color: $blancCasse;
    border: $vert solid 0.4rem;
    border-radius: 2rem;
    margin-bottom: 3rem;

    &__h3 {
      width: 85%;
      margin-top: 1rem;
    }
    &__icone {

      &.actif {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        background-image: url("../img/sprite.svg");
        background-position: -624px -52px;
      }
    }
    & p:nth-child(3) {
      margin-top: 3rem;
      width: 100%;
      order: 4;
    }
    &__sousSection {
      margin-top: 3rem;
      width: 100%;
      order: 5;

      &:nth-child(4) {

        & ul {
          margin-top: 0;
        }
      }
    }
    &__liste {
      width: fit-content;

      & li {
        width: fit-content;
      }
    }
    &:active,
    &:hover,
    &:focus {
      .apresTim__section__icone {

        &.actif {
          background-position: -676px -52px;
        }
      }
    }
    &.ouvert {

    }
    &.ferme {
      & p:nth-child(3) {
        display: none;
      }
      .apresTim__section__sousSection {
        display: none;
      }
    }
  }
  &__employeurs {
    width: fit-content;
    margin: auto;

    &__h3 {
      text-align: center;
    }
    & ul {

      & li {

      }
    }
  }
}
@media (min-width: 800px) {
  .apresTim {
    width: 90%;
    max-width: 1000px;

    &__h2 {

    }
    &__section {
      padding: 3rem;

      &__h3 {

      }
      &__icone {

        &.actif {
          margin-top: 1rem;
        }
      }
      & p:nth-child(3) {
        width: 47%;
        order: 5;
      }
      &__sousSection {
        width: 47%;
        order: 4;

        &:nth-child(4) {

          & ul {

          }
        }
      }
      &__liste {

        & li {

        }
      }
      &:active,
      &:hover,
      &:focus {
        .apresTim__section__icone {

          &.actif {

          }
        }
      }
      &.ouvert {

      }
      &.ferme {
        & p:nth-child(3) {

        }
        .apresTim__section__sousSection {

        }
      }
    }
    &__employeurs {

      &__h3 {

      }
      & ul {

        & li {

        }
      }
    }
  }
}