/* Index des projets */
.fondFiltresTri {

}
.filtresTri {

  &__h2 {

  }
  &__section {

    &__h3 {

    }
    &__liste {

      &__item {

        &__checkbox {

        }
        &__label {

        }
      }
    }
  }
}

.lesProjets {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__unProjet {
    display: block;
    width: fit-content;
    margin-bottom: 4rem;
    color: $noir;

    &__img {
      aspect-ratio: 16/9;
      width: 30rem;
      display: block;
      object-fit: cover;
      border-radius: 1rem;
      border: $blancCasse solid 0.4rem;
      outline: $vert solid 0.4rem;
      text-decoration: none;
    }
    &__h2 {
      font-size: 2.5rem;
      display: block;
      width: fit-content;
      max-width: 225px;
      text-align: center;
      margin: auto;
    }
    &.pair {
      padding-top: 3rem;
    }
    &.impair {

    }
    &:hover,
    &:active {
      color: $rose;

      .lesProjets__unProjet__img {
        border: $vert solid 0.4rem;
      }
    }
  }
}