/* Index des projets */
.fondFiltresTri {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  margin-bottom: 10rem;
  padding: 3rem 0;
}
.filtresTri {
  width: 80%;
  margin: auto;

  &__h2 {
    text-align: left;
  }
  &__section {
    width: 100%;

    &__h3 {
      width: 100%;
      margin-bottom: 0;
    }
    &__liste {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0;
      margin-top: 0;

      &__item {
        list-style: none;
        margin: 2rem;

        &__checkbox {
          display: none;

          &:hover+label,
          &:focus+label,
          &:checked+label{
            background-color: $rose;
          }
          &:checked+label .filtresTri__section__liste__item__label__icone {
            display: block;
            width: 18px;
            height: 20px;
            background-image: url("../img/sprite.svg");
            background-position: -830px -15px;
          }
        }
        &__label {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 80%;
          min-width: 20rem;
          max-width: 25rem;
          margin: auto;
          height: 5rem;
          background-color: $blancCasse;
          border: $rose solid 0.4rem;
          border-radius: 5rem;
          font-family: "caviar_dreamsregular", sans-serif;
          font-size: 2rem;
          line-height: 5rem;
          text-align: center;

          &__icone {
            display: block;
            width: 15px;
            height: 18px;
          }
        }
      }
    }
  }
  &__btnTriEtFiltre {
    display: block;
    margin: 5rem auto;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .filtresTri {
    width: 90%;
    max-width: 1000px;

    &__h2 {

    }
    &__section {

      &__h3 {

      }
      &__liste {
        flex-direction: row;
        flex-wrap: wrap;

        &__item {

          &__checkbox {

            &:checked+label .filtresTri__section__liste__item__label__icone {

            }
          }
          &__label {
            width: 20rem;

            &__icone {

            }
          }
        }
      }
    }
    &__btnTriEtFiltre {

    }
  }
}

.lesProjets {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__unProjet {
    display: block;
    width: fit-content;
    margin-bottom: 4rem;
    color: $noir;

    &__img {
      aspect-ratio: 16/9;
      width: 100%;
      min-width: 25rem;
      max-width: 30rem;
      display: block;
      object-fit: cover;
      border-radius: 1rem;
      border: $blancCasse solid 0.4rem;
      outline: $vert solid 0.4rem;
      text-decoration: none;
    }
    &__h2 {
      font-size: 2.5rem;
      display: block;
      width: fit-content;
      max-width: 22.5rem;
      text-align: center;
      margin: auto;
    }

    &:hover,
    &:active {
      color: $rose;

      .lesProjets__unProjet__img {
        border: $vert solid 0.4rem;
      }
    }
  }
}
@media (min-width: 800px) {
  .lesProjets {
    width: 90%;
    max-width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: normal;

    &__unProjet {

      &__img {
        width: 30rem;
      }
      &__h2 {

      }
      &.pair {
        padding-top: 3rem;
      }
      &.impair {

      }
    }
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5rem auto;
  width: 90%;
  max-width: 30rem;
  align-items: center;
  justify-content: space-around;

  &__lien {
    text-align: center;
    margin: 1rem auto;
  }
  &__separateur {
    display: inline-block;
    height: 0;
    width: 2rem;
    border-top: $noir solid 0.1rem;
  }
  &__texte {
    display: block;
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .pagination {
    flex-direction: row;
    align-items: center;
    width: 50rem;
    max-width: 50rem;

    &__lien {

    }
    &__separateur {
      width: 0;
      height: 2rem;
      border-right: $noir solid 0.15rem;
    }
    &__texte {
      margin: 0 1rem;
    }
  }
}