/* Nous joindre */

// ** Switch entre formulaire courriel/téléphone
// ** Le formulaire
// *** Fiches responsables
// *** Section Benoit Frigon (téléphone)
// *** Format des input type text
// ** Boutons Appeler/Envoie courriel
// ** Classes cachées
// ** Styles erreur

// **** Switch entre formulaire courriel/téléphone **** //
.selectionMoyen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 75rem;
  margin: 5rem auto;

  &__input {
    display: none;

    &:hover+label,
    &:focus+label,
    &:checked+label {

      .selectionMoyen__label__icone {
        background-color: $gris;
        border-radius: 50%;
        outline: $gris solid 0.2rem;
        outline-offset: -0.2rem;

        &#iconeParCourriel,
        &#iconeParTel {
          background-position-y: -104px;
        }
      }
    }
  }
  &__label {

    &__h2 {

    }
    &__icone {
      margin: 1rem auto;
      display: block;
      width: 10rem;
      height: 10rem;
      background-image: url("../img/sprite.svg");
      background-size: 1694px;

      &#iconeParCourriel {
        background-position-y: 0;
        background-position-x: -522px;
      }
      &#iconeParTel {
        background-position-y: 0;
        background-position-x: -1141px;
      }
    }
  }
}
@media (min-width: 450px) {
  .selectionMoyen {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
}

// **** Le formulaire **** //
.fondFormulaire {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  width: 100%;
  margin: 5rem auto;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
}
.conteneurForm {
  width: 80%;
  margin: auto;
  padding: 1.5rem;
}
.formulaire {

  &__info {
    font-weight: bold;
  }
  &__label {
    display: block;
    margin-top: 2rem;
  }
  &__input {
    background-color: $blancCasse;
    border: none;
    border-radius: 1.5rem;
    height: 5.5rem;
    padding: 0 1.5rem;

    &:active,
    &:focus {
      outline: $vert solid 0.4rem;
      outline-offset: -0.4rem;
    }
  }
  &__message {
    color: #4D0000;
  }
  // *** Fiches responsables *** //
  &__destinataires {
    width: 80%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto 0 auto;
    border-radius: 2rem;

    &__item {
      list-style: none;
      border-radius: 1.5rem;
      display: block;
      width: 90%;
      max-width: 40rem;
      min-width: 30rem;
      margin: 2rem 0;

      &__input {
        color: $rose;

        &:hover,
        &:focus {

          &+label {
            background-color: $vert;
          }
        }
        &:checked {

          &+label {
            background-color: $vert;
            outline: $blancCasse solid 0.4rem;
            outline-offset: -0.4rem;
          }
        }
      }
      &__label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 88%;
        height: 135%;
        border-radius: 1.5rem;
        padding: 2rem;
        background-color: $blancCasse;
        outline: $vert solid 0.4rem;
        outline-offset: -0.4rem;

        &__img {
          width: 12rem;
          height: 12rem;
          border-radius: 50rem;
          outline: $blancCasse solid 0.4rem;
          outline-offset: -0.3rem;
        }
        &__h3 {
          text-align: center;
          display: block;
          margin: 0 auto 5rem auto;
        }
        &__contact {
          text-align: center;
          display: inline-block;
        }
        &__h4 {
          display: block;
          text-align: center;
          margin-bottom: 0;
        }
        &.active {
          background-color: $vert;
          .formulaire__destinataires__item__img {
            outline: $blancCasse solid 0.4rem;
            outline-offset: -0.4rem;
          }
        }
        &.inactive {
          background-color: $blancCasse;
          outline: $vert solid 0.4rem;
          outline-offset: -0.4rem;
        }
      }
    }
  }
  // *** Section Benoit Frigon (téléphone) *** //
  &__sectionBen {

    &__label {
      display: block;
    }
    &__input {
      background-color: $blancCasse;
      border: none;
      border-radius: 1.5rem;
      height: 5.5rem;
      margin-bottom: 3rem;
      display: block;
      padding: 0 1.5rem;

      &:active,
      &:focus {
        outline: $vert solid 0.4rem;
        outline-offset: -0.4rem;
      }
    }
    &__labelCheck {
      margin-left: 1.5rem;
      margin-bottom: 3rem;
    }
    &__checkbox {
      margin-left: 1rem;
      -ms-transform: scale(1.5); /* IE */
      -moz-transform: scale(1.5); /* FF */
      -webkit-transform: scale(1.5); /* Safari and Chrome */
      -o-transform: scale(1.5); /* Opera */
      transform: scale(1.5);
      padding: 1rem;
      accent-color: $vert;
    }
  }
}
.conteneurFormPhotoTexte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .conteneurForm {
    width: 90%;
    max-width: 1000px;
  }
  .formulaire {

    &__info {

    }
    &__label {
      margin-top: 3rem;
    }
    &__input {
      height: 7rem;
      padding: 0 3rem;
    }
    &__message {

    }
    &__destinataires {
      flex-direction: row;
      flex-wrap: wrap;

      &__item {
        border-radius: 2rem;
        width: 40%;
        aspect-ratio: 5/4;
        flex-basis: 45%;

        &__input {

        }
        &__label {
          border-radius: 2rem;

          &__img {

          }
          &__h3 {

          }
          &__contact {

          }
          &__h4 {

          }
        }
      }
    }
    &__sectionBen {

      &__label {

      }
      &__input {
        height: 7rem;
      }
      &__labelCheck {

      }
      &__checkbox {
        margin-left: 1rem;
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);

        &#consentement:hover,
        &#consentement:checked,
        &#consentement:focus,
        &#consentement:active {
          outline: $vert solid 0.2rem;
          outline-offset: -0.2rem;
        }
      }
    }
  }
}
@media (min-width: 950px) {
  .formulaire__destinataires__item {
    aspect-ratio: 2/1;
  }
}

// *** Format des input type text *** //
.conteneurNomPrenom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.moyen {
  width: 90%;
  max-width: 30rem;
}
.large {
  width: 90%;
  max-width: 40rem;
}
.xLarge {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 20rem;
  padding: 1.5rem;
}
@media (min-width: 800px) {
  .conteneurNomPrenom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .moyen {
    width: 38rem;
    max-width: 38rem;
  }
  .large {
    width: 48rem;
    max-width: 48rem;
  }
  .xLarge {
    width: 90%;
    max-width: 85rem;
    height: 20rem;
  }
}

// **** Boutons Appeler/Envoie courriel **** //
#envoyerCourriel,
#appeler {
  &.active {
    display: block;
    margin: 5rem auto 10rem auto;
    text-align: center;
  }
  &.inactive {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }
}

// **** Classes cachées **** //
.formulaire.cache {
  display: none;
  visibility: hidden;
}
.invisible {
  display: none;
  visibility: hidden;
}
.troisiemeReliqueDeLaMort {
  display: none;
  visibility: hidden;
}

// **** Styles erreur **** //
.erreur {
  outline: $rose solid 0.4rem;
  outline-offset: -0.4rem;
}
.formulaire__sectionBen__checkbox.erreur {
  outline: $rose solid 0.2rem;
  outline-offset: -0.2rem;
}
.spriteRETRO {
  background-image: url("../img/sprite.svg");
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}
.spriteRETRO--warning {
  background-position: -829px -67.3px;
}
.spriteRETRO--ok {
  background-position: -807px -67.3px;
}

.g-recaptcha {
  margin: auto;
  width: fit-content;
}
@media (min-width: 800px) {
  .g-recaptcha {
    margin: auto;
    width: 89%;
    max-width: 1000px;
  }
}