/* Nous joindre */

//Switch basée de W3School
//https://www.w3schools.com/howto/howto_css_switch.asp
.switch {
  position: relative;
  display: inline-block;
  width: 9.0rem;
  height: 3.8rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $rose;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 3.1rem;
  width: 3.1rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: $blancCasse;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: $rose;
}
input:focus + .slider {
  box-shadow: 0 0 1px $rose;
}

input:checked + .slider::before {
  -webkit-transform: translateX(5.1rem);
  -ms-transform: translateX(5.1rem);
  transform: translateX(5.1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

.selectionMoyen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 750px;
  margin: 5rem auto;

  &__input {
    display: none;

    &:hover+label,
    &:focus+label,
    &:checked+label {

      .selectionMoyen__label__icone {
        background-color: $gris;
        border-radius: 50%;
        outline: $gris solid 0.2rem;
        outline-offset: -0.2rem;

        &#iconeParCourriel,
        &#iconeParTel {
          background-position-y: -104px;
        }
      }
    }
  }
  &__label {

    &__h2 {

    }
    &__icone {
      margin: 1rem auto;
      display: block;
      width: 10rem;
      height: 10rem;
      background-image: url("../img/sprite.svg");
      background-size: 1694px;

      &#iconeParCourriel {
        background-position-y: 0;
        background-position-x: -522px;
      }
      &#iconeParTel {
        background-position-y: 0;
        background-position-x: -1143px;
      }
    }
  }
}

.fondFormulaire {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  width: 100%;
  margin: 5rem auto;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
}
.conteneurForm {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 1.5rem;
}
.formulaire {

  &__info {
    font-weight: bold;
  }
  &__label {
    display: block;

  }
  &__input {
    background-color: $blancCasse;
    border: none;
    border-radius: 1.5rem;
    height: 7rem;
    padding: 0 3rem;
    margin-bottom: 3rem;
  }
  &__destinataires {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem auto 5rem auto;

    &__item {
      list-style: none;
      border-radius: 2rem;
      display: block;
      width: 40%;
      min-width: 30rem;
      flex-basis: 45%;
      margin: 2rem 0;

      &__input {
        color: $rose;

        &:hover,
        &:focus {

          &+label {
            background-color: $vert;
          }
        }
        &:checked {

          &+label {
            background-color: $vert;
            outline: $blancCasse solid 0.4rem;
            outline-offset: -0.4rem;
          }
        }
      }
      &__label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 88%;
        height: 88%;
        border-radius: 2rem;
        padding: 2rem;
        background-color: $blancCasse;
        outline: $vert solid 0.4rem;
        outline-offset: -0.4rem;

        &__img {
          width: 12rem;
          height: 12rem;
          border-radius: 50rem;
          outline: $blancCasse solid 0.4rem;
          outline-offset: -0.3rem;
        }
        &__h3 {
          text-align: center;
          display: block;
          margin: 0 auto 5rem auto;
        }
        &__contact {
          text-align: center;
          display: inline-block;
        }
        &__h4 {
          display: block;
          text-align: center;
          margin-bottom: 0;
        }
        &.active {
          background-color: $vert;
          .formulaire__destinataires__item__img {
            outline: $blancCasse solid 0.4rem;
            outline-offset: -0.4rem;
          }
        }
        &.inactive {
          background-color: $blancCasse;
          outline: $vert solid 0.4rem;
          outline-offset: -0.4rem;
        }
      }


    }
  }
  &__sectionBen {

    &__label {
      display: block;
    }
    &__input {
      background-color: $blancCasse;
      border: none;
      border-radius: 1.5rem;
      height: 7rem;
      margin-bottom: 3rem;
      display: block;
    }
    &__labelCheck {
      margin-left: 1.5rem;
      margin-bottom: 3rem;
    }
    &__checkbox {
      margin-left: 1rem;
      -ms-transform: scale(2); /* IE */
      -moz-transform: scale(2); /* FF */
      -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
      transform: scale(2);
      padding: 1rem;
      accent-color: $vert;
    }
  }
}
.conteneurNomPrenom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.moyen {
  width: 38rem;
}
.large {
  width: 48rem;
}
input.xLarge {
  width: 85rem;
  height: 20rem;
}
#envoyerCourriel,
#appeler {
  &.active {
    display: block;
    margin: 5rem auto 10rem auto;
    text-align: center;
  }
  &.inactive {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
  }
}

.conteneurFormPhotoTexte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteneurFormTexte {
  //flex-basis: 30%;
}

.formulaire.cache {
  display: none;
  visibility: hidden;
}

.invisible {
  display: none;
  visibility: hidden;
}
.troisiemeReliqueDeLaMort {
  display: none;
  visibility: hidden;
}

.erreur {
  border: $rose solid 0.4rem;
}