/*Pied de page*/

footer {
  background-color: $orange;
  background-image: url("../img/texture/memphis-mini.webp");
  background-size: 300px;
  background-repeat: repeat;
  background-blend-mode: multiply;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.piedDePage {
  &__questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: auto;

    &__h2 {
      flex-basis: 40%;
      padding-bottom: 2rem;
    }
    &__texte {
      flex-basis: 30%;
      padding: 1rem;
    }
  }
  &__separateur {
    display: block;
    border-top: $noir solid 0.15rem;
    width: 40%;
    max-width: 600px;
    margin: 2.5rem auto;
  }
  &__boiteLien {
    text-align: center;

    &__lien {
      display: inline-block;
      margin: 0 auto 5rem auto;

      &__img {
        width: 30rem;
      }
      &:active,
      &:hover {
        .piedDePage__boiteLien__lien__img {
          content: url("../img/logoCegepHover.png");
        }

      }
    }
  }
  &__rangeeLiens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: auto;

    &__lien {
      margin-bottom: 2rem;
    }
    &__reseauxSociaux {
      &__lien {
        &__icone {
          background-image: url("../img/sprite.png");
          width: 50px;
          height: 50px;
          display: inline-block;
        }

        &:active,
        &:hover {
          #instagram {
            background-position: 0 -52px;
          }
          #facebook {
            background-position: -52px -52px;
          }
          #linkedin {
            background-position: -104px -52px;
          }
        }
      }
    }
  }
  &__credits {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 0 0.5rem 0;
    margin: 0;
  }
}

#instagram {
  background-position: 0 0;
}
#facebook {
  background-position: -52px 0;
}
#linkedin {
  background-position: -104px 0;
}
@media (min-width: 800px) {
  .piedDePage {
    &__questions {
      flex-direction: row;
      width: 90%;
      max-width: 1000px;

      &__h2 {

      }
      &__texte {

      }
    }
    &__separateur {

    }
    &__boiteLien {

      &__lien {

        &__img {
          width: auto;
        }
      }
    }
    &__rangeeLiens {
      flex-direction: row;
      width: 90%;
      max-width: 1000px;

      &__lien {

      }
      &__reseauxSociaux {
        &__lien {
          &__icone {

          }
        }
      }
    }
    &__credits {

    }
  }
}