/* Fiche du projet */
.fondFicheProjet {
  background-color: $orange;
  background-image: url("../img/texture/round.webp");
  background-blend-mode: multiply;
  background-repeat: repeat;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
  margin-bottom: 10rem;
}
.imgPrincipale {
  display: block;
  aspect-ratio: 16/9;
  width: 98%;
  max-width: 140rem;
  margin: auto;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.ficheProjet {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;

  &__premierePhrase {
    max-width: 60rem;
    flex-basis: 100%;
  }
  &__img {
    aspect-ratio: 16/9;
    width: 50%;
    flex-basis: 50%;
    max-width: 60rem;
    border-radius: 1rem;
    height: fit-content;
    margin-bottom: 5rem;
  }
  &__restantPhrases {
    width: 45%;
    flex-basis: 45%;
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
  }
  &__sectionTechnologies {

    &__h2 {

    }
    &__listeTechno {

    }
  }
}

.fondFicheCreateurProjet {
  background-color: $blancCasse;
  border: $vert solid 0.4rem;
  border-radius: 300rem;
  margin: 10rem auto;
  padding: 5rem 10rem;
  width: 75%;
  max-width: 1300px;
}
.ficheCreateurProjet {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__h2 {
    margin: 2rem auto 0 auto;
    width: 70%;
    flex-basis: 100%;
    text-align: center;
  }
  &__lienCreateur {
    display: block;
    width: fit-content;
    flex-basis: 10%;

    &__img {
      display: block;
      aspect-ratio: 1;
      width: 15vw;
      object-fit: cover;
      border-radius: 30rem;
      border: $blancCasse solid 0.4rem;
      outline: $vert solid 0.4rem;
    }
  }
  &__section {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__h3 {
      display: block;
      width: fit-content;
      text-align: center;
      flex-basis: 100%;
    }
    &__unProjet {
      display: block;
      width: fit-content;
      margin-bottom: 4rem;
      color: $noir;

      &__img {
        width: 30rem;
        aspect-ratio: 16/9;
        border-radius: 1rem;
        display: block;
        object-fit: cover;
        border: $blancCasse solid 0.4rem;
        outline: $vert solid 0.4rem;
      }
      &__h4 {
        width: fit-content;
        max-width: 30rem;
        text-align: center;
        margin: auto;
      }
      &:hover,
      &:active {
        color: $rose;

        .ficheCreateurProjet__section__unProjet__img {
          border: $vert solid 0.4rem;
        }
      }
    }
  }

}