/**
* @author Clodiane Charette clodianecharette@hotmail.com
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
*/

/** Polices de caractères **/

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
  url('../fonts/caviardreams-webfont.woff') format('woff');
}
@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
  url('../fonts/caviardreams_bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'lt_binary_neue_roundregular';
  src: url('../fonts/ltbinaryneueround-regular-webfont.woff2') format('woff2'),
  url('../fonts/ltbinaryneueround-regular-webfont.woff') format('woff');
}

$fonteTitre : 'lt_binary_neue_roundregular';
$fonteNiveauDeTitre : 'caviar_dreamsregular';
$fonteTexteCourant : Arial, sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$blancCasse: #fffaf1;
$orange: #febe98;
$rose: #e87c84;
$vert: #d0e3cc;
$gris: #7d7d7d;
$noir: #000;

//$bleuMoyenTransparent : transparentize($bleuMoyen, 0.50);

/* Autres couleurs */
//$hyperlien: $bleuMarin;

/** Points de rupture **/
$desktop : 801px;