/**
* @author Clodiane Charette clodianecharette@hotmail.com
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
*/

/** Polices de caractères **/

@font-face {
  font-family: 'LT Binary Neue Round', sans-serif;
  src: 	url('../fonts/CaviarDreams.ttf') format('truetype');
}
@font-face {
  font-family: 'Caviar Dreams', sans-serif;
  src: 	url('../fonts/LTBinaryNeueRound-Regular.ttf') format('truetype');
}

$fonteTitre : 'LT Binary Neue Round', sans-serif;
$fonteNiveauDeTitre : 'Caviar Dreams', sans-serif;
$fonteTexteCourant : Arial, sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$blancCasse: #fffaf1;
$orange: #febe98;
$rose: #e87c84;
$vert: #d0e3cc;
$gris: #7d7d7d;
$noir: #000;

//$bleuMoyenTransparent : transparentize($bleuMoyen, 0.50);

/* Autres couleurs */
//$hyperlien: $bleuMarin;

/** Points de rupture **/
$desktop : 801px;