/* Général */
body {
  background-color: $blancCasse;
  background-image: url("../img/texture/old_wall.png");
  background-size: 200px;
  background-repeat: repeat;
  background-blend-mode: luminosity;
}

main {
  margin: -12rem auto 0 auto;
}

.accroche {
  margin: 5rem auto;
  width: 80%;
  max-width: 800px;
}

.btnPrincipal {
  background-color: $rose;
  color: $noir;
  font-family: "Caviar Dreams", sans-serif;
  font-size: 2rem;
  width: 42rem;
  height: 9.5rem;
  border-radius: 2rem;
  border: none;

  &:hover,
  &:active {
    background-color: $blancCasse;
    outline: $rose solid 0.4rem;
    outline-offset: -0.4rem;
  }
}
.btnSecondaire {
  background-color: $blancCasse;
  color: $noir;
  font-family: "Caviar Dreams", sans-serif;
  font-size: 2rem;
  width: 42rem;
  height: 9.5rem;
  border-radius: 2rem;
  border: none;
  outline: $rose solid 0.4rem;
  outline-offset: -0.3rem;

  &:hover,
  &:active {
    background-color: $rose;
    outline: $blancCasse solid 0.4rem;
    outline-offset: -0.3rem;
  }
}