/* Général */
body {
  background-color: $blancCasse;
  background-image: url("../img/texture/old_wall.png");
  background-size: 200px;
  background-repeat: repeat;
  background-blend-mode: luminosity;
}

main {
  margin: -6rem auto 0 auto;
}

@media (min-width: 600px) {
  main {
    margin: -12rem auto 0 auto;
  }
}

.accroche {
  margin: 5rem auto;
  width: 80%;
  max-width: 800px;
}

// **** Style Boutons **** //
.btnPrincipal,
.btnSecondaire {
  font-family: "caviar_dreamsregular", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  max-width: 30rem;
  height: 6.5rem;
  border-radius: 1.2rem;
  text-decoration: none;
  text-align: center;
  line-height: 6.5rem;
  display: inline-block;
}
.btnPrincipal {
  background-color: $rose;
  color: $noir;
  border: none;

  &:hover,
  &:active {
    background-color: $blancCasse;
    outline: $rose solid 0.4rem;
    outline-offset: -0.4rem;
  }
}
.btnSecondaire {
  background-color: $blancCasse;
  color: $noir;
  border: none;
  outline: $rose solid 0.4rem;
  outline-offset: -0.3rem;

  &:hover,
  &:active {
    background-color: $rose;
    outline: $blancCasse solid 0.4rem;
    outline-offset: -0.3rem;
  }
}
@media (min-width: 800px) {
  .btnPrincipal,
  .btnSecondaire {
    font-size: 2rem;
    width: 40rem;
    max-width: 40rem;
    height: 9.5rem;
    border-radius: 2rem;
    line-height: 9.5rem;
  }
}
