/**
* @author Clodiane Charette clodianecharette@hotmail.com
*/

/**** Typographie responsive ****/

html {
  font-size: 62.5%;
}

body {
  font-family: $fonteTexteCourant;
  font-size: 18px; /* 18px pour toutes les largeurs d'écran */
  font-size: 1.8rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
  @media (min-width: $desktop) {
  }
}

h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: $fonteNiveauDeTitre;
  font-weight: normal;
}

h1,
.titreNiveau1 {
  @include fontSize(28px);
  margin: 0;
  &--desktop {
    font-size: 48px;
    font-size: 4.8rem;
    padding-bottom: 15px;
    position: relative;
    &:after {
      background-color: $blancCasse;
      content: "";
      display: inline-block;
      width: 150px;
      height: 8px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

h2,
.titreNiveau2{
  font-size: 40px;
  font-size: 4rem;
  &--desktop {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8rem;
  &--desktop {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

.texte {
  font-family: $fonteTexteCourant;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.375;
  &--desktop {
    line-height: 1.5;
  }
}